* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@import "scss/abstract/variables",
        "scss/abstract/mixins",
        "scss/components/buttons",
        "scss/layout/header",
        "scss/layout/sectionhome",
        "scss/layout/projecthome",
        "scss/layout/skills",
        "scss/layout/project",
        "scss/layout/footer";
