* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #12693e;
  height: 10vh;
}
header .menu {
  font-size: 30px;
}
header .menu a {
  color: white;
  text-decoration: none;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
header .menu a:hover {
  transition: linear 0.2s;
  font-size: 40px;
  color: #1a412d;
}
header .m1 {
  position: absolute;
  left: 10%;
  top: 30%;
}
header .m2 {
  position: absolute;
  right: 30%;
  top: 30%;
}
@media screen and (max-width: 1200px) {
  header .m2 {
    right: 35%;
  }
}
@media screen and (max-width: 500px) {
  header .m2 {
    right: 42%;
  }
}
header .m3 {
  position: absolute;
  right: 10%;
  top: 30%;
}

footer {
  background-color: #12693e;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

section {
  background-color: #0f7944;
  height: 100vh;
  display: flex;
}
@media screen and (max-width: 1200px) {
  section {
    display: block;
  }
}
section .title {
  height: 100%;
  background-color: #0f7944;
  width: 50%;
  font-size: 80px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  section .title {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
section .title div {
  position: absolute;
  top: 40%;
  left: 10%;
  color: yellowgreen;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1200px) {
  section .title div {
    position: initial;
  }
}
section .presentation {
  width: 50%;
  height: 100%;
  background-color: #0f7944;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  section .presentation {
    width: 100%;
  }
}
section .presentation .grid {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 500px) {
  section .presentation .grid {
    width: 345px;
    height: 345px;
  }
}
section .presentation .grid .in_grid {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
section .presentation .grid .in_grid:hover {
  transition: linear 0.3s;
  background-color: #0e2419;
}
section .presentation .grid .in_grid img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
}
section .presentation .grid .c1 {
  background-color: #12693e;
  font-size: 40px;
  color: #83b387;
  border: solid 2px white;
}
section .presentation .grid .c2 {
  background-color: #195235;
}
section .presentation .grid .c3 {
  background-color: #1a412d;
}
section .presentation .grid .c4 {
  background-color: #195235;
}
section .presentation .grid .c5 {
  background-color: #1a412d;
}
section .presentation .grid .c6 {
  background-color: #195235;
}
section .presentation .grid .c7 {
  background-color: #1a412d;
  color: #83b387;
  border: solid 3px white;
}
@media screen and (max-width: 500px) {
  section .presentation .grid .c7 {
    font-size: 16px;
  }
}
section .presentation .grid .c8 {
  background-color: #195235;
}
section .presentation .grid .c9 {
  background-color: #12693e;
}

.project {
  padding-bottom: 15vh;
  width: 100%;
  background-color: #0f7944;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project .card {
  background-color: #195235;
  border-radius: 30px;
  width: 80%;
  padding: 5%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project .card .card_part1 .card_text_title {
  color: white;
  font-size: 40px;
  padding-bottom: 20px;
}
.project .card .card_part1 .card_text_desc {
  color: #c4c4c4;
  font-size: 20px;
  padding-bottom: 50px;
}
.project .card .card_part1 .card_text_link {
  color: white;
  font-size: 30px;
  padding-bottom: 20px;
}
.project .card .card_part2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .card .card_part2 img {
  height: 150px;
  object-fit: fill;
}

/*# sourceMappingURL=style.css.map */
