footer {
    background-color: $sub-color1;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}