header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: $sub-color1;    
    height: 10vh;

    .menu {
        font-size: 30px;

        a {   
            color: white;
            text-decoration: none;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

            &:hover {
                transition: linear 0.2s;
                font-size: 40px;
                color: $sub-color3;
            }
        }
    }

    .m1 {
        position: absolute;
        left: 10%;
        top: 30%;
    }

    
    .m2 {
        position: absolute;
        right: 30%;
        top: 30%;

        @include xl {
            right: 35%;
        }

        @include s {
            right: 42%;
        }
    }
    
    .m3 {
        position: absolute;
        right: 10%;
        top: 30%;
    }
}