.skills_explain {
    background-color: $maincolor;

    .skills_explain_title {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .title {
            padding-top: 5vh;
            padding-bottom: 5vh;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 80px;
            color: yellowgreen;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        .legend_text {
            padding-top: 5vh;
            padding-bottom: 5vh;
            width: 90%;
            font-size: 35px;
            color: white;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

            @include m {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        .skills_explain_legend {
            width: 300px;
            height: 100px;
            border-radius: 30px;
            background-color: $sub-color1;
            display: flex;
            grid-template-columns: 1fr 1fr;
            color: white;
            font-size: 20px;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 30px;

            .good {
                background-color: $skills-good;
                border-radius: 20px;
                width: 80px;
                height: 80px;
            }

            .medium {
                background-color: $skills-medium;
                border-radius: 20px;
                width: 80px;
                height: 80px;
            }

            .bad {
                background-color: $skills-bad;
                border-radius: 20px;
                width: 80px;
                height: 80px;
            }
        }
    }
}

.skills {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    column-gap: 50px;
    row-gap: 50px;
    background-color: $maincolor;

    @include xl {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 50px;
    }


    @include m {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
    }

    @include ms {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    @include s {
        grid-template-columns: 1fr 1fr;
    }

    .grid_skills {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .skill_frame {
            width: 150px;
            height: 150px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 110px;
                height: 110px;
                object-fit: fill;
            }
        }

        .sk1 {
            background-color: $skills-good;
        }
        .sk2 {
            background-color: $skills-good;
        }
        .sk3 {
            background-color: $skills-medium;
        }
        .sk4 {
            background-color: $skills-good;
        }
        .sk5 {
            background-color: $skills-medium;
        }
        .sk6 {
            background-color: $skills-good;
        }
        .sk7 {
            background-color: $skills-medium;
        }
        .sk8 {
            background-color: $skills-good;
        }
        .sk9 {
            background-color: $skills-good;
        }
        .sk10 {
            background-color: $skills-medium;
        }
        .sk11 {
            background-color: $skills-bad;
        }
        .sk12 {
            background-color: $skills-bad;
        }
        .sk13 {
            background-color: $skills-medium;
        }
        .sk14 {
            background-color: $skills-medium;
        }
        .sk15 {
            background-color: $skills-good;
        }
        .sk16 {
            background-color: $skills-good;
        }
        .sk17 {
            background-color: $skills-good;
        }
    }
}