$maincolor: rgb(15, 121, 68);
$sub-color1: rgb(18, 105, 62);
$sub-color2: rgb(25, 82, 53);
$sub-color3: rgb(26, 65, 45);

$skills-good: rgb(61, 199, 56);
$skills-medium: rgb(196, 127, 0);
$skills-bad: rgb(148, 0, 0);